*{
    /* margin: 0px; */
    /* padding: 0px; */
}
.input-wrapper{
    margin:10px;
}
.input-field{
    width: 200px;
    height:30px;
}
.button{
    width:207px;
    height:30px;
}
.container{
    text-align: center;
}
.button-link{
    border:0;
    background-color: transparent;
    color: rgb(33, 120, 252);
    cursor:pointer;
    margin: 10px;
}
.input-error{
    color:red;
    position: absolute;
    font-size: 13px;
    padding: 5px;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}
table td button{
    margin:5px;
}

table img{
    width:80px
}